@model IEnumerable<ChatterExample.Chat>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="response"></div>
@*<button id="getChats" class="btn btn-primary">Get Chats</button>*@
<button id="TestJson" class="btn btn-primary">Get Chats</button>

@section Scripts {
<script>
        //alert("Hello World!");

        ////JSON ... JavaScript object
        //var jsonTest = { "Id": 1, "UserId": 1, "Message": "Hello World" };
        ////now some Jquery
        //$("#response").text(jsonTest.Message);

        @*var jsonTest = { "firstName": "Bob", "lastName": "Sauce", "children": [{ "firstName": "Barbie", "age": 19 }, { "firstName": "Ron", "age": 21 }] }


        //now some jquery Note: Only use one #response at a time
        //$("#response").text(jsonTest.children[1].firstName);
        $("#response").text(jsonTest.children[1].age);

        //AJAX request using jQuery as a helper
        //Notice this combines Razor syntax (@Url.Action()) in order to
        //have the compiler figure out the exact path of the controller,
        //alongside of jQuery.*@
        @*$.get("@Url.Action("TestJson","Chats")", function (response) {
            alert(response);
    });*@

    $.get("@Url.Action("TestJson", "Chats")", function (serverResponse) {
    var jsonTest = JSON.parse(serverResponse);
    console.log(jsonTest);
    $("#response").text(jsonTest.firstName);
    });

</script>
    }












@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
